<tr class="-comment"  data-app="id:{{id}}, parentId: {{parentId}}">
    <td class="comment-info">
        <div>
            <span class="comment-author">{{author}}</span> at <span class="comment-date">{{date}}</span>
        </div>
        <div>
            <a class="-reply">Reply</a> 
            <a class="-update">Update</a> 
            <a class="-delete">Delete</a><br/>
        </div>
    </td>
    <td class="comment-body">
        <div class="body-wrapper -body">{{body}}</div>
        <table class="table table-bordered -child-comments"></table>
    </td>
</tr>
